// Variables
//-------------------------------

$sans-serif: -apple-system, BlinkMacSystemFont, San Francisco Text, Helvetica, Arial, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
$serif: Menlo, Monaco, Courier, monospace, serif;
// $base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;

$base-font-size: 20px;
$mobile-font-size: 18px;
$lead-font-size: 1.15em;
$blog-title-size: 2.5rem;
$post-title-size: 4.25rem;
$base-line-height: 1.6;
$code-line-height: 1.4;

$footnote-font-size: 0.75em;
$magic: 1.618em;

$hero-heading-color: #000;
$hero-date-color: #ccc;
