---
layout: compress
---

<!DOCTYPE html>
<html lang="ko">
    {% include head.html %}

    <body>
        <div class="wrapper" id="blep">
            {% include main/header.html %}

            {{ content }}

            {% include main/footer.html %}
        </div>

        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
    </body>
</html>
